$container-width: 200px;
$textColor: white;

.music-browser-container {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  background-color: #5d636c;

  .title {
    font-size: 3rem;
    color: white;
    padding-left: 1rem;
  }

  .covers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .album {
    width: $container-width;
    padding: 0;
    margin: 1.2rem;

    &:hover {
      cursor: pointer;
    }
  }

  .album-art {
    width: 100%;
    height: $container-width;
  }

  .album-details {
    text-align: center;
  }

  .album-details-text {
    color: $textColor;
    margin-top: 0.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}