@import "../../variables.scss";

.container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background-color: $theme-primary-color;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  height: 100%;
  display: flex;
}

.text {
  text-align: center;
  margin-top: 1rem;
  line-height: 2.5rem;
}

.trackName {
  font-weight: 900;
  font-size: 1.8rem;
}

.artistName {
  font-size: 1.6rem;
}

.closeIconStyle {
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.controls {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}