@import "../../variables.scss";

.musicBrowserContainer {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  background-color: $theme-primary-color;
}

.title {
  font-size: 3rem;
  color: white;
  padding-left: 1rem;
}

.covers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.covers::after {
  content: "";
  flex: auto;
}